*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --highlight: #ff57b2;
  --heading: #f8f8f8;
  --background: #1a1d23;
  --info: #bbbbbb;
  --body: #d7d7d7;
}

body {
  background: var(--background);
  font: 400 1rem 'Inter', sans-serif;
}

p {
  color: var(--body);
  font-size: 1.125rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading);
  margin-bottom: 0.5em;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

span {
  color: var(--highlight);
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
}
